@font-face {
    font-family: 'iconic-sm';
    src: url('../fonts/iconic-sm.eot');
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro';
}

#bg-img {
    background-image: url('images/pic_1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

#bg-img-price {
    background-image: url('images/pic_2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.bg-primary {
    background-color: #C271FF !important;
}

.text-primary {
    color: #C271FF !important;
}

.navbar-brand #logo {
    width: 114px;
    height: 20px;
}

.navbar-brand #emblem {
    width: 20px;
    height: 15px;
}

.nav-link {
    color: white;
}

h1 {
    font-size: 120px;
    line-height: 150px;
}

@media  (max-width: 576px) {
    h1 {
        font-size: 55px;
        line-height: 75px;
    }
}

@media  (min-width: 768px) {
    h1 {
        font-size: 120px;
        line-height: 150px;
    }
}

.top-buffer {
    margin-top: 160px;
}

.btn-primary {
    background-color: #C271FF;
    border: #C271FF;
}

.btn-primary:hover {
    background-color: #C271FF;
}

h3 strong {
    color: #C271FF;
}

img {
    width: 150px;
    height: 150px;
}

.col-space {
    margin-top 5px;
}

h4 strong {
    color: #C271FF;
}

.video img {
    width: 255px;
    height: 154px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.card-body img {
    width: 30px;
    height: 30px;
}

.checked {
    color: #C271FF;
}

.unchecked {
    color: lightgrey;
}

.bg-alt {
    background-color: #071629;
}

.social-link {
    fill: white;
}

li {
    list-style: none;
}

#pricing-h1 {
    font-size: 32px;
}

#pricing-logo {
    width: 37px;
    height: 30px;
}

#pricing-emblem {
    width: 155px;
    height: 75px;
}

#pricing-head {
    font-size: 60px;
}
