html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro';
}

#bg-img {
    background-image: url('images/pic_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-primary {
    background-color: #C271FF !important;
}

.navbar-brand #logo {
    width: 114px;
    height: 20px;
}

.navbar-brand #emblem {
    width: 20px;
    height: 15px;
}

.nav-link {
    color: white;
}

h1 {
    font-size: 120px;
    line-height: 150px;
}

@media  (max-width: 348px) {
    h1 {
        font-size: 55px;
        line-height: 75px;
    }
}

@media  (min-width: 768px) {
    h1 {
        font-size: 120px;
        line-height: 150px;
    }
}

.top-buffer {
    margin-top: 160px;
}

.btn-primary {
    background-color: #C271FF;
    border: #C271FF;
}

.btn-primary:hover {
    background-color: #C271FF;
}

h3 strong {
    color: #C271FF;
}

img {
    width: 150px;
    height: 150px;
}

.col-space {
    margin-top 5px;
}

.carousel {
    background-color: #C271FF;
}
